@font-face {
    font-family: 'Josefin Sans Regular';
    font-style: normal;
    font-weight: normal;
    src:  url(../font/JosefinSans-Regular.woff) format('woff');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'JosefinSans-Regular','Segoe UI', Tahoma, Geneva, Verdana, sans-serif  ;
    font-size: 10px;
}

:root {  
  --color-royal-blue:#5956E9;
  --color-black: #232233;
  --color-gray: #6C6C72;
}
.section1{
  background-image: url(../images/Background\ Image.svg);
  background-size: cover;
  background-position: 50%;
  padding-top: 40px; 
}
.contact-us{
  display: none;
}
.navbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 16px 0 16px ;
  background-color: white;
  position: relative;
  border-radius: 3px;
  box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.10);
}
.menu{
  color: var(--color-black);
  padding: 8px 0 8px 9px;
}
.logo {
  padding: 24px 10px;
  box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.10);
  border-radius: 5px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 1;
  background-color: white;
}
.logo img{
  width: 79px;
}
.download-btn{
  padding: 3px 3px 3px 0;
}
.download-btn input{
  background-color: var(--color-royal-blue);
  padding: 12px 6px;
  color: white;
  border: none;
  border-radius: 3px;
  box-shadow: none;
  font-weight: 600;
  font-family: 'JosefinSans-Regular','Segoe UI', Tahoma, Geneva, Verdana, sans-serif  ;
  font-size: 10px;
}
.section1__box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.border{
  border: 10px solid #7572FF;
  margin: 98px 16px 0 36px;
}
.box1{
  background-color: white;
  position: relative;
  margin: 10px -20px 10px 0;
  right: 30px;
}
.box1-content{
  padding: 30px 12px 20px 18px;
}
.box1-title{
  font-size: 2.5em;
  font-weight: 600;
  color: var(--color-royal-blue);
  line-height: 150%;
  text-transform: uppercase;
  margin-bottom: 18px;
}
.box1-par{
  font-size: 1.6em;
  font-weight: 400;
  line-height: 150%;
  color: var(--color-gray);
  margin-bottom: 30px;
}
.box1-download{
  font-size: 2em;
  font-weight: 600;
  color: var(--color-black);
  line-height: 150%;
  text-transform: uppercase;
  margin-bottom: 18px;
}
.box1-getapp{
  display: flex;
}
.box1-getapp img{
  width: 108px;
  padding-right: 20px;
}
.mobile{
  margin-left: 138px;
}
.mobile img{
  padding: 40px 0 120px 0;
  width: 446px;
}
